@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
body {
  background-color: white;
  background: flex;
  flex-direction: colomn;
}

.top-section{
  display: flex;
}

.left-section{}

.right-section{}

.text {
  color: black;
  font-family: "UnifrakturMaguntia", cursive; 
  font-weight: 400;
  font-style: normal; 
}

button {
  height: 30px;
  width: 60px;
  padding: 10px;
  border: 2px solid red; 
  margin: 10px; 
}


.centered-div {
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
}


