@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
body {
  background-color: white;
}

.text {
  color: black;
  font-family: "UnifrakturMaguntia", cursive; 
  font-weight: 400;
  font-style: normal; 
}

button {
  height: 30px;
  width: 60px;
  padding: 10px;
  border: 2px solid red; 
  margin: 10px; 
}
