@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
body {
  background-color: black;
  background: flex;
  flex-direction: colomn;
}

.top-section{
}

.middle-selection{
  flex-growth: 1;
  display: flex;
  flex-direction: colomn;
  justify-content: center; 
  align-items: center; 
  padding: 1rem 0; 
  gap: 1.2rem; 
}

.left-section{
  display: flex;
  gap: 1rem; 
  justify-content: center;
  align-items: center;
}

.right-section{}

.text {
  color: white;
  font-family: "UnifrakturMaguntia", cursive; 
  font-weight: 400;
  font-style: normal; 
}

button {
  border: 3px solid white; 
  border-radius: 25px; 
  height: 30px;
  width: fit-content;
  padding: 10px;
  justify-content: center; 
  margin: 10px; 
  background: black; 
}


.centered-div {
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
}


