@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
body {
  background-color: black;
  background: flex;
  flex-direction: colomn;
  margin: 0;
  padding: 0;
  align-items: start; 
}

.side-bar{
  flex-growth: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem 0; 
  gap: 1.2rem; 
  width: 250px;
  position: sticky;
  top: 2rem; 
}


.main-container{
  flex-growth: 1;
  display: flex;
  flex-direction: row;
  padding: 1rem 0; 
  gap: 1.2rem; 
}


.text {
  color: white;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
  font-variation-settings: "wdth" 100;
}

.main-text {
  color: white;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
  font-variation-settings: "wdth" 100;
  font-size: 25px; 
}

button {
  border: 3px solid white; 
  border-radius: 25px; 
  height: 50px;
  width: 200px;
  padding: 10px;
  text-align: center; 
  vertical-align: middle;
  margin: 10px; 
  background: black; 
}

.profile {
  width: 10rem; 
  height: 10rem; 
  border-radius: 100%; 
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 1rem 0; 
  background-image: url("https://media.licdn.com/dms/image/v2/D5616AQEBRSwb_WQmpA/profile-displaybackgroundimage-shrink_350_1400/B56Zn0zM_JJwAY-/0/1760748688024?e=1771459200&v=beta&t=9F6YT3gjd-OKHPuytuTRc38gcXV3XS3n3oKG88XUoSw");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
   




